{% load static %}
{%load widget_tweaks%}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Forget Password</title>
	<link rel="stylesheet" type="text/css" href="{% static 'csslogin/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'csslogin/main.css' %}">
</head>
<body>

<!-- hadi v2 login -->
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w" method="post">
					{% csrf_token %}
					<span class="login100-form-title p-b-51">
						YOU FORGET PASSWORD! <br> PUT YOUR EMAIL FOR YOU CAN RECEIVE VERIFICATION EMAIL.
					</span>

					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">

						{% render_field form.email class="input100" placeholder="Email or Username"%}
						{{ form.email.errors }}
						<span class="focus-input100"></span>

					</div>
					<div class="container-login100-form-btn m-t-17">
                        <div class="flex-sb-m w-full p-t-3 p-b-24">
                            <div class="contact100-form-checkbox">
                                <a href="./" class="txt1">
                                    Login using another Account?
                                </a>
                                <br>
                            </div>
                
                            <div>
                                
                                <a href="signup" class="txt1">
                                    Signup?
                                </a>
                            </div>
                        </div>
            <input type="submit" class="login100-form-btn" value="SUBMIT" name="submit">

					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	<script>
	
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
</body>
</html>